# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel


# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.logs
npm-debug.log*



# MISC
.nvmrc
